.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-link.active {
  color: green !important;
}

/* device carousel */
.custom-carousel .carousel-inner {
  display: flex;
  overflow: visible; /* Make sure next slide is visible */
}

.custom-carousel .carousel-item {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.custom-carousel .card {
  background-color: #1b1b1b;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  width: 75%; /* Adjust the width of each card */
  margin-right: -50px; /* Pull the next item slightly into view */
}

.card img {
  border-bottom: 2px solid #343a40;
  height: 250px;
  object-fit: cover;
}

.card .card-body {
  padding: 20px;
}
